{% block _rs_suivideprojetbundle_entree_module_row %}
<div class="form-group">
    <div class="col-sm-12">
    {{ 'module.avertissement'|trans() }}
    </div>
</div>
  {{ form_row(form) }}
{% endblock _rs_suivideprojetbundle_entree_module_row %}

{% block _rs_suivideprojetbundle_entreeedit_module_row %}
<div class="form-group">
    <div class="col-sm-12">
    {{ 'module.avertissement'|trans() }}
    </div>
</div>
  {{ form_row(form) }}
{% endblock _rs_suivideprojetbundle_entreeedit_module_row %}
