{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% extends "base.html.twig" %}

{% block title %}
    {{ 'commentaire.editer'|trans() }}
{% endblock title %}

{% block body %}
    <div class="container-fluid">
    <p class="lead">{{ 'commentaire.editer'|trans() }}</p>
    <div class="row">
        <div class="col-lg-6">
        {{ form(form) }}
        </div>
    </div>
</div>
{% endblock body %}
