{% if recherches|length > 0 %}
    <a class="navbar-link">
        {{ 'filtre.liste'|trans() }}
    </a>
    <div class="navbar-dropdown" id="filtres">
        {% for recherche in recherches %}
            <a class="navbar-item">
                <button class="btn" data-parametre="{{ recherche.parametre }}">{{ recherche.afficher }}</button>
            </a>
        {% endfor %}
    </div>
{% endif %}
